<div class="header">
    <div class="header__logo">
        <img src="../../assets/images/logo.svg" alt="logo">
        CryptoSavvy
    </div>
    <ul class="header__links">
        <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="/crypto-convertor" routerLinkActive="active">Converter</a>
        </li>
        <li>
            <a href="#">Login</a>
        </li>
        <li>
            <a href="#" class="active">Sign Up</a>
        </li>
    </ul>
</div>